@inherits LayoutComponentBase

@using VrsekDev.Blazor.Templates.Frest.Shared

<FrestLayout TNavBar="NavBar"
             TLogo="Logo"
             TMainMenu="MainMenu"
             TFooter="Footer">
    <Body>
        @Body
    </Body>
</FrestLayout>