# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '**/*.csproj'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: Test
  inputs:
    command: test
    projects: '**/*Tests.csproj'
    arguments: '--configuration $(buildConfiguration)'

- task: DotNetCoreCLI@2
  displayName: Publish
  inputs:
    command: 'publish'
    publishWebProjects: false
    projects: |
      src/Blazor.Mobx.Core/Blazor.Mobx.Core.csproj
      src/Blazor.Mobx.Core.Abstractions/Blazor.Mobx.Core.Abstractions.csproj
      src/Blazor.Mobx.Observables.Default/Blazor.Mobx.Observables.Default.csproj
      src/Blazor.Mobx.Proxies.RuntimeProxy/Blazor.Mobx.Proxies.RuntimeProxy.csproj
    arguments: '--output $(Build.ArtifactStagingDirectory)'

- task: NuGetCommand@2
  displayName: Pack NuGet packages
  inputs:
    command: 'pack'
    packagesToPack: 'src/Blazor.Mobx.Core/Blazor.Mobx.Core.csproj;src/Blazor.Mobx.Core.Abstractions/Blazor.Mobx.Core.Abstractions.csproj;src/Blazor.Mobx.Observables.Default/Blazor.Mobx.Observables.Default.csproj;src/Blazor.Mobx.Proxies.RuntimeProxy/Blazor.Mobx.Proxies.RuntimeProxy.csproj'
    versioningScheme: 'off'

- task: PublishPipelineArtifact@1
  displayName: Publish artifact
  inputs:
    targetPath: '$(Build.ArtifactStagingDirectory)'
    artifact: 'drop'
    publishLocation: 'pipeline'