@inject IJSRuntime JSRuntime

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public string IconClass { get; set; }
}

<li class="nav-item d-none d-lg-block">
    <FrestTooltip Title="@Title">
        <a class="nav-link" href="@Url">
            <i class="ficon bx bx-@IconClass"></i>
        </a>
    </FrestTooltip>
</li>