@code {
    [Parameter]
    public string Placeholder { get; set; }
}

<ul class="nav navbar-nav">
    <li class="nav-item d-none d-lg-block">
        <a class="nav-link bookmark-star" @onclick="ToggleVisibleAsync" @onclick:stopPropagation="true">
            <i class="ficon bx bx-star warning"></i>
        </a>
        <div class="bookmark-input search-input @(isVisible ? "show" : "")">
            <div class="bookmark-input-icon"><i class="bx bx-search primary"></i></div>
            <input @ref="inputReference" class="form-control input" type="text" placeholder="@Placeholder" tabindex="0" data-search="template-search">
            <ul class="search-list @(isVisible ? "show" : "")">
                <FrestNavBookmarkSearchSuggestion Text="Email" IconClass="envelope" />
            </ul>
        </div>
    </li>
</ul>

@code {
    private bool isVisible;

    private ElementReference inputReference;
}