@inject IJSRuntime JSRuntime

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

<div @ref="tooltipRef" title="@Title" data-toggle="tooltip" data-placement="top">
    @ChildContent
</div>