@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

<div class="header-navbar-shadow"></div>
<nav class="header-navbar main-header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top ">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="navbar-collapse" id="navbar-mobile">
                @ChildContent
            </div>
        </div>
    </div>
</nav>