@using VrsekDev.Blazor.Templates.Frest.Models

@inherits BlazorMobxComponentBase<MainMenuStore>

@code {
    [Parameter]
    public bool IsCollapsed { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

<div class="main-menu-content">
    <ul class="navigation navigation-main @cssClass" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
        @ChildContent
    </ul>
</div>

@code {
    private string cssClass;
}