@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public string IconClass { get; set; }
}

<a class="dropdown-item" href="@Url">
    <i class="@IconClass mr-50"></i> @Title
</a>
