@code {
    [Parameter]
    public string Placeholder { get; set; }
}

<div class="search-input">
    <div class="search-input-icon">
        <i class="bx bx-search primary"></i>
    </div>
    <input class="input" type="text" placeholder="@Placeholder" tabindex="-1" data-search="template-search">
    <div class="search-input-close">
        <i class="bx bx-x"></i>
    </div>
    <ul class="search-list"></ul>
</div>