@using Microsoft.AspNetCore.Components.Routing

@inject IJSRuntime JSRuntime

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [CascadingParameter(Name = "IconStyle")]
    public string IconStyle { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

<li class="nav-item" @onmouseenter="HandleMouseEnterEventAsync" >
    <NavLink href="@Url">
        <Livicon @ref="iconRef" Icon="@Icon" Style="@IconStyle" />
        <span class="menu-title">@Title</span>
    </NavLink>
    <ConditionalView Condition="ChildContent != null">
        <ul class="menu-content">
            @ChildContent
        </ul>
    </ConditionalView>
</li>