<a class="navbar-brand brand-logo" href="index.html"><img src="images/logo.svg" alt="logo" /></a>
<a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo" /></a>