@inherits LayoutComponentBase

<MaMainLayout TLogo="Logo"
                     TNavBar="NavBar"
                     TSideBar="SideBar"
                     TFooter="Footer">
    <Body>
        @Body
    </Body>
</MaMainLayout>