@code {
    [Parameter]
    public string ProfileImgUrl { get; set; }

    [Parameter]
    public string DisplayName { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

<li class="nav-item nav-profile dropdown">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
        <img src="@ProfileImgUrl" alt="profile" />
        <span class="nav-profile-name">@DisplayName</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
        @ChildContent
    </div>
</li>