@code {
    [Parameter]
    public string Placeholder { get; set; }
}

<ul class="navbar-nav mr-lg-4 w-100">
    <li class="nav-item nav-search d-none d-lg-block w-100">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                    <i class="mdi mdi-magnify"></i>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="@Placeholder" aria-label="search" aria-describedby="search">
        </div>
    </li>
</ul>