@code {
    [Parameter]
    public bool HasNewMessages { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

<MaNavBarDropdownIcon CustomClass="mr-1" Icon="message-text" IsActive="HasNewMessages">
    <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
    @ChildContent
</MaNavBarDropdownIcon>