<title>Dashboard Ecommerce - Frest - Bootstrap HTML admin template</title>
<link rel="apple-touch-icon" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">

<!-- BEGIN: Vendor CSS-->
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/vendors/css/vendors.min.css">
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/vendors/css/charts/apexcharts.css">
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/vendors/css/extensions/swiper.min.css">
<!-- END: Vendor CSS-->
<!-- BEGIN: Theme CSS-->
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/css/bootstrap-extended.css">
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/css/colors.css">
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/css/components.css">
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/css/themes/dark-layout.css">
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/css/themes/semi-dark-layout.css">
<!-- END: Theme CSS-->
<!-- BEGIN: Page CSS-->
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/css/core/menu/menu-types/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/app-assets/css/pages/dashboard-ecommerce.css">
<!-- END: Page CSS-->
<!-- BEGIN: Custom CSS-->
<link rel="stylesheet" type="text/css" href="/_content/VrsekDev.Blazor.Templates.Frest/assets/css/style.css">
<!-- END: Custom CSS-->