@page "/counter"
@using Havit.Blazor.Mobx.Samples.Shared.Stores;

@inherits Havit.Blazor.Mobx.Components.BlazorMobxComponentBase<AsyncCounterStore>

<Counter />


<h1>Counter</h1>

<p>Computed value: @Store.ComputeAsync().Value </p>

@code {

}