@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="/images/praha_logo.png" alt="logo">
                        </div>
                        @Body
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("appInitializer.onAppLoaded");
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}