@using Havit.Blazor.StateManagement.Mobx
@using Havit.Blazor.StateManagement.Mobx.Samples.Models

@page "/addNavLink"

@inject IStoreAccessor<IAppStore> AppStoreAccessor

<h3>AddNavLink</h3>

<p>Title: <input @bind="title" /></p>
<p>Link: <input @bind="link" /></p>
<p>Glyph: <input @bind="glyph" /></p>

<button @onclick="HandleClick">Add</button>
@code {
    private string title;
    private string link;
    private string glyph;

    private IAppStore AppStore => AppStoreAccessor.Store;

    public override Task SetParametersAsync(ParameterView parameters)
    {
        AppStoreAccessor.SetConsumer(this);

        return base.SetParametersAsync(parameters);
    }

    private void HandleClick()
    {
        AppStore.NavigationItems.Add(new NavigationItem
        {
            Title = title,
            Link = link,
            Glyph = glyph
        });
    }
}