@inherits LayoutComponentBase

@typeparam TNavBar
@typeparam TSideBar
@typeparam TFooter

@inject IJSRuntime JSRuntime

<div class="container-scroller">
    @NavBar()
    <div class="container-fluid page-body-wrapper">
        @SideBar()
        <div class="main-panel">
            <div class="content-wrapper">
                @Body
            </div>
            @Footer()
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("appInitializer.onAppLoaded");
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    private RenderFragment NavBar() => builder =>
    {
        builder.OpenComponent<TNavBar>(0);
        builder.CloseComponent();
    };

    private RenderFragment SideBar() => builder =>
    {
        builder.OpenComponent<TSideBar>(0);
        builder.CloseComponent();
    };

    private RenderFragment Footer() => builder =>
    {
        builder.OpenComponent<TFooter>(0);
        builder.CloseComponent();
    };
}